<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="{% static 'index_page.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="nav">
            <div class="logo" id="logo">
            Madhura Computer Center
            </div>
            <div class="nav-list">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/klic_course">Klic Course</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/about">About Us</a></li>
                </ul>
            </div>
            <div class="login-buttons">
                <button id="login-btn">login</button>
                <button id="signup-btn">Sign Up</button>
            </div>
        </div>
    </header>

    <main>
        <div class="container" id="container1">
            <div class="box1">
                <img src="https://www.mkcl.org/user/pages/images/logo_mkcl-mr.svg" alt="mkcl logo" id="mkcl-logo">
                <h3>Authorised Center of MKCL</h3>
                <h1>Madhura Computer Center</h1>
                <button id="learn-btn">Learn More</button>
            </div>
            <div class="box2">
                <img src="https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="computer image">
            </div>
          
        </div>

        <div class="container2">
            <h1>We offer</h1>
            <div class="banner-card">
                <img id="mscit_banner_indexpage" src="https://mscit.mkcl.org/user/pages/01.home/_slider/slider2-6.jpg" alt="mscit banner">
                <img id="klic_banner_indexpage" src="https://klic.mkcl.org/user/pages/images/slides/KLiC-Banner-2024.png" alt="klic banner">
            </div>
        </div>
    </main>
  

    <footer>
        <div class="footer">
            This is footer
        </div>

    </footer>
<script src="{% static 'script.js' %}"></script>
<script src="{% static 'redirect_page.js' %}"></script>
</body>
</html>