#klic_banner_indexpage:hover{
    cursor: pointer; 
    box-shadow: -2px 2px 49px -9px rgb(255, 230, 2);
}
#mscit_banner_indexpage:hover{
    cursor: pointer; 
    box-shadow: -2px 2px 49px -9px rgb(255, 230, 2);
}