:root{
    /* teal white color theme */
    --white-theme1:#F5F5F5;
    --accent1:#48CFCB;
    --aceent2:#229799;
    --accent3:#424242;
}
*{
    margin: 0;
    padding: 0;
    font-family:"Nunito" ,sans-serif ,"Noto Sans";
    /* Gilroy-Regular */
    scroll-behavior: smooth;
}


.nav{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.logo{
    font-size: 24px;
    font-weight: 300;
}
.logo:hover{
    cursor: pointer;
}
.nav-list ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 43px;
    font-size: 16px;
    font-weight: 279;
    position: relative;
    top: 12px;
    left: -42px;
}
.nav-list ul li a{
    text-decoration: none;
    color:black;
}

.nav-list ul li a:hover{
    /* color:#5c00b3 */
    color: var(--aceent2);
}

.login-buttons{
    display: flex;
}



#login-btn{
    position: absolute;
    background-color: white; 
    border-style: none;
    font-size: 20px;
    font-weight: 250;
    position: relative;
    left: -23px;
   
}
/* #login-btn:hover{
    background-color: #8b1cf2;
    border-radius: 51px;
    height: 37px;
    width: 6em;
    box-shadow: 4px 6px 14px -6px black;
    color: white;
} */
#signup-btn{
    border-style: none;
    background-color: #5c00b3;
    /* background-color:var(--accent1); */
    border-radius: 51px;
    height: 37px;
    width: 6em;
    color: white;
    box-shadow: 4px 6px 14px -6px black;
    font-size: 20px;
    font-weight: 250;
}
#signup-btn:hover{
    background-color: #250047;
    border-style: solid;
    border-color: white;
}

.container{
    display: flex;
    margin-top: 20px;
}

.box1{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.box1 h3{
    position: relative;
    top: -120px;
    font-size: 15px;
    font-weight: 250;
}
.box1 h1{
    position: relative;
    top: -100px;
    font-size: 35px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.box1 h1:hover{
    color: #5c00b3;
    
}

#learn-btn{
    position: relative;
    top:-80px;
    border: none;
    background-color: #5c00b3;
    border-radius: 45px;
    height: 3em;
    width: 10em;
    color:white;
    font-size: 20px;
    box-shadow: 7px 7px 15px -3px black;
}

.box2{
    display: flex;
    width: 50vw;
    height: 100vh;
}

#mkcl-logo{
    position: relative;
    top: -100px;
    height: 10em;
    width: 11em;
    margin-bottom: 21px;
 
}

.box2 img{
    width: 50vw;
    object-fit: cover;
    height: 90vh;
    border-radius: 20px;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;

}
.container2 h1{
    font-size: 40px;
    font-weight: 200;

}
.banner-card{
    display: flex;
    height: 70em;
    width: 70em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8a11fc;
  border-radius: 20px;
  box-shadow: 11px 15px 30px -4px black;
}
.banner-card img{
    margin-top: 10px;
    height: auto;
    width: 50em;
    border-radius: 20px;
    box-shadow: 19px 14px 43px -3px rgb(0, 0, 0);
    margin-bottom: 10px;

}

#klic_banner_indexpage:hover{
    cursor: pointer;
    
}

#klic_banner_indexpage:hover{
    cursor: pointer;
    
}
.footer{
    display: flex;
    margin-top: 30px;
    height: 30vh;
    width: 100vw;
    background-color: #000f4a;
    color:white;
    padding: 10px;
}

/* klic course page css */
.klic_container{
    display: flex;
    background-color: antiquewhite;
    margin-top: 10px;
    flex-wrap: wrap;
}
.klic-course-content{
    display: flex;
    background-color: #e0bfff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 17em;
    width: 17em;
    margin: 1em;
    border-radius: 10px;
    color: white;
    box-shadow: 9px 9px 17px -12px #333;
}
.klic-course-content img{
    height: 8em;
    width: 14em;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 6px 6px 14px -8px black;
}

.klic-course-content h3{
    margin-top: 10px;
    text-align: center;
    width: 12em;
}

.klic-course-content button{
    border: none;
    background-color: #8a11fc;
    border-radius: 2em;
    box-shadow: 6px 6px 14px -8px black;
    color: white;
    height: 2em;
  width: 6em;
}
.klic-course-content button:hover{
    cursor: pointer;
}
.kprice{
    margin-top: 1em;
}

.detail_page_box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail_container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 22px;
  width: 50em;
  background-color: #cafff7;
  padding-top: 29px;
  border-radius: 20px;
}
.detail_container h1{
    margin-top: 10px;
}

.detail_container p{
    width: 40em;
}

.detail_container img{
    width: 40em;
    box-shadow: 14px 12px 25px -8px black;
  border-radius: 20px;
}
.detail_container button{
    background-color: #5c00b3;
    border: none;
    border-radius: 10px;
    height: 2em;
    width: 5em;
    color: white;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
}

.detail_container button:hover{
    cursor: pointer;
}

.mscit-container{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* slider css */
.slider {
    position: relative;
    max-width: 100vw;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
/* slider css end */

/* mscipt page css */
.mscit-container-2{
    margin-top: 4vh;
    display: flex;
    width: 100vw;
}

.mscit-text{
    padding: 1vw;
    width: 50vw;
    background-image: linear-gradient(to right, #5c0086 , #fb4429);
    /* background-color:#5c00b3; */
    margin: 1em;
  border-radius: 4px;
  box-shadow: 2px 10px 32px 0px #5e5e5e;
}

.mscit-text button{
    background-color: #e30000;
  color: white;
  border: none;
  border-radius: 20px;
  height: 32px;
  width: 100px;
  font-size: 15px;
  position: relative;
  left: 38em;
  box-shadow: 6px 6px 10px -4px black;
}

.mscit-text-card{
    background-color: #fff3ef;
    margin: 0.5em;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mscit-text-card p{
    text-align: justify;
    margin-top: 20px;
    color: #464646;
}
.mscit-text-card:nth-child(3){
    margin: top 10px;
    color: #5c00b3;
}
.mscit-title::before{
    content: '';
    position: absolute;
    bottom: 6.30em;
    left: 0;
    width: 0;
    height: 60px;
    border-radius: 2px;
    background: #5c00b3;
}
#mscitlogo{
    position: absolute;
  top: 5em;
  left: 8em;
  width: 115px;
  z-index: 1;
  background-color: white;
  border-radius: 11px;
  padding: 10px;
}
#mscit_video{
    margin-top: 15px;
  background: black;
  background-color: black;
  width: 39vw;
  border-radius: 10px;
  box-shadow: 0px 6px 20px -1px #404040;
  position: relative;
  top: 18px;
  left: 28px;
}

/* mscit page css end */


/* for mobile screen css */
@media screen and (max-width:600px) {
    .nav{
        flex-wrap: wrap;
    }
    #learn-btn{
        height: 45px;
        width: 180px;
    }
    .nav li{
        visibility: collapse;
    }

    .container{
        flex-direction: column;
        align-items:center;
        justify-content:flex-start;
        padding: 0;
    }

    #mkcl-logo {
        /* position: relative;
        top: -200px; */
        height: 10em;
        width: 11em;
        margin-bottom: 20px;
        /* left: 110px; */
      }
      .box1{
        margin-top: 10px;
        width: 100vw;
        height: 55vh;
      }
      .box1 h3 {
        /* position: relative;
        top: -200px; */
        font-size: 13px;
        font-weight: 250;
        /* left: 108px; */
      }
      .box1 h1{
        font-size: 20px;
      }
      .banner-card{
        width: 21em;
        height: 16em;
        box-shadow: 9px 11px 16px -6px black;
      }
      .banner-card img{
        width: 20em;
        box-shadow: 5px 8px 8px -6px black;
      }
}