*{
    margin: 0;
    padding: 0;
    font-family:"Nunito" ,sans-serif ,"Noto Sans";
    /* Gilroy-Regular */
    scroll-behavior: smooth;
}

.nav{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.logo{
    font-size: 24px;
    font-weight: 300;
}
.logo:hover{
    cursor: pointer;
}
.nav-list ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 43px;
    font-size: 16px;
    font-weight: 279;
    position: relative;
    top: 12px;
    left: -42px;
}
.nav-list ul li a{
    text-decoration: none;
    color:black;
}

.nav-list ul li a:hover{
    color:#5c00b3
}

.login-buttons{
    display: flex;
}



#login-btn{
    position: absolute;
    background-color: white;  
    border-style: none;
    font-size: 20px;
    font-weight: 250;
    position: relative;
    left: -23px;
   
}
/* #login-btn:hover{
    background-color: #8b1cf2;
    border-radius: 51px;
    height: 37px;
    width: 6em;
    box-shadow: 4px 6px 14px -6px black;
    color: white;
} */
#signup-btn{
    border-style: none;
    background-color: #5c00b3;
    border-radius: 51px;
    height: 37px;
    width: 6em;
    color: white;
    box-shadow: 4px 6px 14px -6px black;
    font-size: 20px;
    font-weight: 250;
}
#signup-btn:hover{
    background-color: #5c00b3;
    border-style: solid;
    border-color: white;
}

.container{
    display: flex;
    margin-top: 20px;
}

.box1{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.box1 h3{
    position: relative;
    top: -120px;
    font-size: 15px;
    font-weight: 250;
}
.box1 h1{
    position: relative;
    top: -100px;
    font-size: 35px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.box1 h1:hover{
    color: #5c00b3;
    
}

#learn-btn{
    position: relative;
    top:-80px;
    border: none;
    background-color: #5c00b3;
    border-radius: 45px;
    height: 3em;
    width: 10em;
    color:white;
    font-size: 20px;
    box-shadow: 7px 7px 15px -3px black;
}

.box2{
    display: flex;
    width: 50vw;
    height: 100vh;
}

#mkcl-logo{
    position: relative;
    top: -100px;
    height: 10em;
    width: 11em;
    margin-bottom: 21px;
 
}

.box2 img{
    width: 50vw;
    object-fit: cover;
    height: 90vh;
    border-radius: 20px;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;

}
.container2 h1{
    font-size: 40px;
    font-weight: 200;

}
.banner-card{
    display: flex;
    height: 70em;
    width: 70em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8a11fc;
  border-radius: 20px;
  box-shadow: 11px 15px 30px -4px black;
}
.banner-card img{
    margin-top: 10px;
    height: auto;
    width: 50em;
    border-radius: 20px;
    box-shadow: 19px 14px 43px -3px rgb(0, 0, 0);
    margin-bottom: 10px;

}

#klic_banner_indexpage:hover{
    cursor: pointer;
    
}

#klic_banner_indexpage:hover{
    cursor: pointer;
    
}
.footer{
    display: flex;
    margin-top: 30px;
    height: 30vh;
    width: 100vw;
    background-color: #000f4a;
    color:white;
    padding: 10px;
}

/* klic course page css */
.klic_container{
    display: flex;
    background-color: antiquewhite;
    margin-top: 10px;
    flex-wrap: wrap;
}
.klic-course-content{
    display: flex;
    background-color: #e0bfff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 17em;
    width: 17em;
    margin: 1em;
    border-radius: 10px;
    color: white;
    box-shadow: 9px 9px 17px -12px #333;
}
.klic-course-content img{
    height: 8em;
    width: 14em;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 6px 6px 14px -8px black;
}

.klic-course-content h3{
    margin-top: 10px;
    text-align: center;
    width: 12em;
}

.klic-course-content button{
    border: none;
    background-color: #8a11fc;
    border-radius: 2em;
    box-shadow: 6px 6px 14px -8px black;
    color: white;
    height: 2em;
  width: 6em;
}
.klic-course-content button:hover{
    cursor: pointer;
}
.kprice{
    margin-top: 1em;
}

.detail_page_box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail_container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 22px;
  width: 50em;
  background-color: #cafff7;
  padding-top: 29px;
  border-radius: 20px;
}
.detail_container h1{
    margin-top: 10px;
}

.detail_container p{
    width: 40em;
}

.detail_container img{
    width: 40em;
    box-shadow: 14px 12px 25px -8px black;
  border-radius: 20px;
}
.detail_container button{
    background-color: #5c00b3;
    border: none;
    border-radius: 10px;
    height: 2em;
    width: 5em;
    color: white;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
}

.detail_container button:hover{
    cursor: pointer;
}

/* for mobile screen css */
@media screen and (max-width:600px) {
    .nav{
        flex-wrap: wrap;
    }
    #learn-btn{
        height: 45px;
        width: 180px;
    }
    .nav li{
        visibility: collapse;
    }

    .container{
        flex-direction: column;
        align-items:center;
        justify-content:flex-start;
        padding: 0;
    }

    #mkcl-logo {
        /* position: relative;
        top: -200px; */
        height: 10em;
        width: 11em;
        margin-bottom: 20px;
        /* left: 110px; */
      }
      .box1{
        margin-top: 10px;
        width: 100vw;
        height: 55vh;
      }
      .box1 h3 {
        /* position: relative;
        top: -200px; */
        font-size: 13px;
        font-weight: 250;
        /* left: 108px; */
      }
      .box1 h1{
        font-size: 20px;
      }
      .banner-card{
        width: 21em;
        height: 16em;
        box-shadow: 9px 11px 16px -6px black;
      }
      .banner-card img{
        width: 20em;
        box-shadow: 5px 8px 8px -6px black;
      }
}